<!DOCTYPE html>
<html>
    <head>
        {{ partial "head/style.html" . }}
        <meta charser="utf-8"/>
    </head>
    <body class="cv">
        <header>
            <h1>{{ .Site.Params.name }}</h1>
        </header>
        <main>
            <aside>
                <section class="contact">
                    <h2>{{ T "personalsInformations" }}</h2>
                    <ul class="infos-list not-a-list">
                        {{ with .Site.Params }}
                        <li><i class="fa-solid fa-user"></i><b> {{ .name }}</b></li>
                        <li><i class="fa-solid fa-location-dot"></i><b> {{ .localisation }}</b></li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <b>{{ .phone }}</b>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <b>{{ .email }}</b>
                        </li>
                        {{ end }}
                        <li><i class="fa-solid fa-earth-americas"></i><b>{{ .Site.BaseURL }}</b></li>
                        {{ range .Site.Params.socials }}
                        <li><i class="{{ .icon }}"></i><b>{{ .link }}</b></li>
                        {{ end }}
                    </ul>
                </section>

                <section class="languages">
                    <h2>{{ T "languages" }}</h2>
                    <ul class="not-a-list">
                        {{ range .Site.Params.language }}
                        <li>
                            <div class="language-title">
                                <span>{{ .name }}</span>
                                <span class="language-level">{{ .level }}</span>
                            </div>
                            <div class="range-bar" style="--bar-level: {{ .note }}">
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section class="skills">
                    <h2>{{ T "skills" }}</h2>
                    <ul> 
                        {{ range .Site.Params.shortSkills }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </section>

                <section class="hobbies">
                    <h2>{{ T "hobbies" }}</h2>
                    <ul> 
                        {{ range .Site.Params.hobbies }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </section>
            </aside>
            <div class="body">
                <section class="cv-presentation">
                    <h2>{{ T "presentation" }}</h2>
                    <p>{{ .Site.Params.presentation }}</p>
                </section>
                <section class="professional-experience">
                    <h2>{{ T "professionalExperience" }}</h2>
                    <ul>
                        {{ range sort .Site.Params.professionalExperience "weight" }}
                        <li>
                            <h3>{{ .name }}</h3>
                            <p>{{ .description }}</p>
                            <span>{{ .from }} {{ if .to }} - {{ .to }}{{ end }}</span>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section class="studies">
                    <h2>{{ T "studies" }}</h2>
                    <ul>
                        {{ range sort .Site.Params.study "weight" }}
                        <li>
                            <h3>{{ .name }}</h3>
                            <p>{{ .description }}</p>
                            <span>{{ .from }} {{ if .to }} - {{ .to }}{{ end }}</span>
                        </li>
                        {{ end }}
                    </ul>
                </section>
                <!-- <section class="cv-project"> -->
                <!--     <h2>{{ T "myProjects" }}</h2> -->
                <!--     <ul class="project-list"> -->
                <!--         {{ $projects := .Site.Params.cvProjects }} -->
                <!--         {{ $portfolio := .Site.GetPage "/portfolio" }} -->
                <!--         {{ range $projects }} -->
                <!--         {{ $page := $portfolio.GetPage . }} -->
                <!--         {{ $page.Render "summary" }} -->
                <!--         {{ end }} -->
                <!--     </ul> -->
                <!-- </section> -->
            </div>
        </main>
    </body>
</html>
