.animated-on-scroll {
    position: relative;
    opacity: 0;
}

.animated-on-scroll.animate {
    opacity: 1;
    &.fade-from-bottom {
        animation: fade-bottom $animation-time ease-out;
    }
    &.fade-from-left {
        animation: fade-left $animation-time ease-out;
    }
    &.fade-from-right {
        animation: fade-right $animation-time ease-out;
    }
}

@keyframes fade-bottom {
    from {
        transform: translateY($animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    from {
        transform: translateX(- $animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    from {
        transform: translateX($animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
