*, *:after, *:before {
    box-sizing: inherit;
}

* {
    font-family: $font-family;
}

html > body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

main {
    margin: 0px 10%; 
}

