*, *:after, *:before {
    box-sizing: border-box;
}

* {
    font-family: $font-family;
    color: $white;
}

html > body {
    background-color: $background-0;
    margin: 0;
    padding: 0;
}

main {
    //background: $bg-gradient;
}

a {
    color: $primary;
    font-weight: bold;
    transition: color 200ms;
    &:hover {
        color: $primary-light;
    }
}
