*, *:after, *:before {
    box-sizing: border-box;
}

* {
    font-family: $font-family;
    color: $font-color;
}

html > body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

main {
    margin: 0px 10%; 
}

a {
    color: black;
    transition: color 200ms;
    &:hover {
        color: #333;
    }
}
