$font-family: Verdana, Geneva, Tahoma, sans-serif;

$font-color: #ccc;
$bg-color: #1c2326;
$fg-color-1: #2f3b40;
$fg-color-2: #777777;
$shadow-color: #000a;
$shadow: 1px 1px 5px 1px $shadow-color;

$color-section-odd: #d1b794;
$color-section-even: #c1a784;

$header-bg: #000000;

$project-summary-height: 300px;
