$font-family: Verdana, Geneva, Tahoma, sans-serif;

$bg-color: #ffffff;
$fg-color-1: #a99382;
$fg-color-2: #777777;
$shadow-color: #000a;
$shadow: 1px 1px 5px 1px $shadow-color;

$color-section-odd: #d1b794;
$color-section-even: #c1a784;

$header-bg: #000000;
