body>header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    z-index: 2;

    font-size: clamp(1rem, calc(1.0vw + .5rem), 10rem);

    width: calc(100vw - 1em);
    box-sizing: border-box;
    margin: 0.5em;
    border-radius: 2em;
    padding: 1em 2em;

    background-color: $background-2;
    box-shadow: 0px 3px 3px 3px #0005;
    
    a {
        color: white;
        text-decoration: underline #0000;
        transition: text-decoration 0.3s;
        text-decoration-thickness: 0;
        font-size: 0.9em;
        &:hover {
            text-decoration: underline #FFFF;
            color: white;
            text-decoration-thickness: 0.1em;
        }
    }

    &>nav>ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0 1em;
            opacity: 0.6;
        }
    }
}

.site-title {
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}

