.home-section{
    padding: 20px 20px;
    margin: 10px 0px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;

    .section-title {
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        line-height: 1.8em;
    }
    
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
}

#presentation {
    min-height: 85vh;
    margin-left: 130px;

    &> h1 {
        font-size: 3em;
    }
}

#presentation > #content {
    display: flex;
    justify-content: left;
    align-items: stretch;
    
    &>div {
        margin: 5px;
        padding: 15px 30px 15px 15px;
        max-width: 700px;
        border: 0px solid;
        border-left-width: 5px;
        border-image: linear-gradient(180deg, $fg-color-2 0%, $fg-color-1 100%) 1;
    }

    #profile-pick , img {
        max-width: 300px;
        border-radius: 30px;
    }
    
    .quick-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    li {
        margin: 10px 0px;
    }

    b {
        color: $fg-color-2;
    }
}

#skills {
    display: flex;
    .skill {
        background-color: $fg-color-1;
        display: flex;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow;
    }

    p {
        font-size: 0.9em;
    }
    h3 {
        font-size: 1;
    }
    img {
        width: 60px;
        height: 60px;
    }
}

