main > .home-section{
    padding: 20px 20px;
    overflow: auto;
    margin: 10px 0px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .section-title {
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        font-size: 1.3em;
        line-height: 1.8em;
    }
}

.quick-info {
    margin: 0px 30px 0px 0px;
    flex-grow: 2;
    white-space: nowrap;
}

.skills {
    display: flex;
}

.home-section ul {
    list-style: none;

    .skill {
        background-color: $fg-color-1;
        display: flex;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow;
    }

    p {
        font-size: 0.9em;
    }
    h3 {
        font-size: 1;
    }
    img {
        width: 60px;
        height: 60px;
    }
}
