.home-section {
    border-radius: 3rem 3rem 0 0;
}

.home-header {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;


    &>.welcome-text {
        margin-left: 2rem;
        flex-grow: 2;
        font-size: clamp(1rem, 4.5vw, 2rem);
        &>h1 {
            font-size: 2em;
            opacity: 0.9;
        }

        &>p {
            font-size: 1em;
            opacity: 0.6;
            line-height: 2em;
        }
    }
    .background {
        z-index: -1;
        opacity: 0.1;
        position: absolute;
        right: 1rem;
        top: 10rem;
    }
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 70vh;

    &> h1 {
        font-size: 3rem;
    }
    p {
        line-height: 1.8rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

}

.presentation > .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: stretch;
    background: $background-1;
    padding: 2rem;
    border-radius: 3rem;
    margin: 0rem;
    max-width: 120ch;
    
    &>div {
        margin: 5px;
        padding: 15px 30px 15px 15px;
        border: 0px solid;
        border-left-width: 5px;
        border-image: linear-gradient(180deg, $primary 0%, $primary-dark 100%) 1;
    }
    
    .quick-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail-info {
        flex: 1 0 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    li {
        margin: 10px 0px;
    }

    b {
        color: $primary;
    }
}

.home-section.skills {
    max-width: 100rem;
    margin-inline: auto;
}

.home-section.skills .skills-groups{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px ,1fr));

    .skills-group {
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        background-color: $background-1;
        &>ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .skill {
        display: flex;
        margin: 10px 0px;
        align-items: center;
        justify-content: space-between;

        label {
            margin: 0px;
        }
        .range-box {
            width: 150px;
            height: 10px;
            background-color: $background-0;
            border-radius: 10px;
            .range-bar {
                background-color: $primary;
                border-radius: 10px;
                height: 100%;
                &.animate {
                    transform-origin: center left;
                    animation: skill-bar-animation 0.5s ease-out;
                }
            }
        }
    }
}

@keyframes skill-bar-animation {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%);
    }
}

.home-section.projects {
    background-color: $background-2;

    &>div {

        margin: 20px 0px;
        font-size: 1.3em;
    }
}
