.projects-list-title {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    h2 {
        margin: 0;
    }
}
.project-list {
    list-style: none;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
}

.project-summary {
    background-color: $background-1;
    box-shadow: $shadow;
    padding: 1rem;
    margin: 0.5rem;
    max-width: 30rem;


    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 1rem;
    }

    .thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        max-height: 15rem;
        margin: auto;
    }
}

.tag-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

a.tag-btn {
    font-size: 0.9rem;
    display: inline-block;
    color: $white;
    text-decoration: none;
    font-weight: normal;
    background-color: $primary-dark;
    border-radius: 2rem;
    padding: 0.2rem 0.4rem;

    &:hover {
        background-color: $primary;
    }
}

.project-content {
    .project-head {
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: clamp(4rem, 10vw, 6rem);
            margin: 0px;
            padding: 1rem;
            text-align: center;
        }
        
        .tag-list {
            margin-bottom: 2rem;
        }

        .related-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-block: 2rem;
            font-size: clamp(1rem, 3vw, 1.5rem);
        }
    }

    .project-body {
        &>div {
            background-color: $background-1;
            border-radius: 1rem;
            padding: 1rem;
            max-width: 80ch;
            margin: 1rem auto;

            h1, h2, h3, h4, h5, h6 {
                margin: 1.5em 0;
                padding-bottom: 0.3em;
                border: solid $background-2 0;
                border-bottom-width: 1px;
            }
        }
    }
}
