{{ define "main" }}
<article class="project-content">
    <div class="project-head">
        <h1 class="title">{{ .Title }}</h1>
        <div class="related-links">
            {{ with .Params }}
            {{ if .sourceCode }}
            <a class="button" chref="{{ .sourceCode }}" target="_blank">
                {{ T "sourceCode" }}
            </a>
            {{ end }}
            {{ if .download }}
            <a class="button" href="{{ .download }}" target="_blank">
                {{ T "download" }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="project-body">
        {{ if .GetTerms "tags" }}
        <div class="tag-list">
            {{ T "tags" }}
            {{ range (.GetTerms "tags") }}
            <a class="tag-btn" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
        <div class="main-content">
        {{ .Content }}
        </div>
    </div>
</article>
{{ end }}
