{{ define "main" }}
<article id="project-content">
    <div id="project-head">
        <h1 class="title">{{ .Title }}</h1>
    </div>
    <div class="project-body">
        <div>
        {{ .Content }}
        </div>
        <aside>
            {{ with .Params }}
            {{ if .sourceCode }}
            <a href="{{ .sourceCode }}" target="_blank">{{ T "sourceCode" }}</a>
            {{ end }}
            {{ if .download }}
            <a href="{{ .download }}" target="_blank">{{ T "download" }}</a>
            {{ end }}
            {{ end }}
        </aside>
    </div>
</article>
{{ end }}
