<div class="project-summary">
    <div class="thumbnail">
        {{ if .Params.thumbnail }}
        <img src="{{ path.Dir .RelPermalink}}{{ .Params.thumbnail }}" 
        height="auto" width="auto"></img>
        {{ end }}
    </div>
    <div class="detail">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ if .Params.description }}
        <p>{{ .Params.description }}</p>
        {{ end }}
        <div class="tag-list">
            {{ range (.GetTerms "tags") }}
            <a class="tag-btn" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
    </div>
</div>

