<div class="contact">
    <ul class="infos-list not-a-list">
        {{ with .Site.Params }}
        <li><i class="fa-solid fa-user"></i><b> {{ .name }}</b></li>
        <li><i class="fa-solid fa-cake-candles"></i>
            <b id="age-span">{{ .birthDate }}</b>
            <b> {{ T "years" }}</b></li>
        <li><i class="fa-solid fa-location-dot"></i><b> {{ .localisation }}</b></li>
        <li>
            <i class="fa-solid fa-phone"></i>
            <b>{{ .phone }}</b>
        </li>
        <li>
            <i class="fa-solid fa-envelope"></i>
            <b><a href="mailto:{{ .email }}">{{ .email }}</a></b>
        </li>
        {{ end }}
    </ul>
    <div class="socials">
        {{ range .Site.Params.socials }}
        <a title="{{ .name }}" href="{{ .link }}" target="_blank">
                <i class="{{ .icon }}"></i></a>
        {{ end }}
    </div>
    {{ if .Site.Params.fileCV }}
    {{ $file := resources.Get .Site.Params.fileCV }}
    <a class="button cv-document" href="{{ $file.RelPermalink }}" target="_blank">
        <i class="fa-solid fa-file"></i>  {{ T "myCV" }}</a>
    {{ end }}
</div>
