<section class="home-section projects">
    <div class="projects-list-title">
        <h2>{{ T "myProjects" }}</h2>
    </div>
    <ul class="project-list">
        {{ $projects := .Site.Params.homeProjects }}
        {{ $portfolio := .Site.GetPage "/portfolio" }}
        {{ range $projects }}
                {{ $page := $portfolio.GetPage . }}
                <li class="animated-on-scroll fade-from-bottom">
                {{ $page.Render "summary" }}
                </li>
            {{ end }}
    </ul>
    <div class="show-more">
        <a class="button" href="/portfolio">{{ T "moreProjects" }}</a>
    </div>
</section>
