<section class="home-section projects">
    <h2>{{ T "myProjects" }}</h2>
    <ul class="project-list">
        {{ $projects := .Site.Params.homeProjects }}
        {{ $portfolio := .Site.GetPage "/portfolio" }}
        {{ range $projects }}
            <li class="animated-on-scroll fade-from-left">
                {{ $page := $portfolio.GetPage . }}
                {{ $page.Render "summary" }}
            </li>
        {{ end }}
    </ul>
    <div>
        <a href="/portfolio">{{ T "moreProjects" }}<a>
    </div>
</section>
