{{ with .Site.Params.skillsGroup }}
<section class="home-section skills">
    <div class="skills-groups">
        {{ range . }}
        <div class="skills-group animated-on-scroll fade-from-bottom" 
            {{ if .color }} style="background-color: {{ .color }};" {{ end }}>
            <h3>{{ .name }}</h3>
            <ul class="skills">
                {{ range .skill }}
                <li class="skill" {{if .comment}} title="{{.comment}}"{{end}}>
                    <label>{{ .name }}</label>
                    <div class="range-box">
                        <div class="range-bar animated-on-scroll" 
                            style="width: calc({{ .note }} * 100%);"/>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
