{{ with .Site.Params.skills }}
<section class="home-section skills">
    <ul>
        {{ range sort . "name" }}
            <li>
                <div class="skill">
                    <div class="img">
                        {{ $image := resources.Get .img }}
                        <img src="{{  $image.RelPermalink  }}"></img>
                    </div>
                    <div class="infos">
                        <h3>{{ .name }}</h3>
                        <p>{{ .infos }}</p>
                    </div>
                </div>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}
