{{ with .Site.Params.skillsGroup }}
<section class="home-section skills">
    <div class="skills-groups">
        {{ range . }}
        <div class="skills-group animated-on-scroll fade-from-bottom" 
            {{ if .color }} style="--bar-color: {{ .color }};" {{ end }}>
            <h3>{{ .name }}</h3>
            {{ if .description }}
            <p class="description">{{ .description }}</p>
            {{ end }}
            <ul class="skills not-a-list">
                {{ range .skill }}
                <li class="skill" {{if .comment}} title="{{.comment}}"{{end}}>
                    <div class="range-box">
                        <div class="range-bar animated-on-scroll" 
                            style="width: calc({{ .note }} * 100%);"></div>
                            <span>{{ .name }}</span>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
